                h1{
			color: red;
			text-align: center;
			font-weight: bold;
		}
		body{
			background-color: rgb(244, 244, 117);
			font-family: monospace;
		}
		a{
			width: 6em;
			text-decoration: none;
			color: white;
			background: purple;
			padding: 0.2em 0.6em;
			border-right: 1px solid white;
		}
		a:hover{
			background-color: rgb(140, 66, 244); 
		}
		li{
			display: inline;
		}
		#page-container{
			width: 760px;
			margin: auto;
		}
		#main-nav{
			background-color: #f6b319;
			width: 760px;
			height: 50px;
		}
		#header{
            width: 760px;
			height: 50px;
		}
		#biography{
			background: grey;
			width: 30%;
			height: 400px;
			overflow: auto;
			border: 5px dashed;
			float: right;
		}
		#content{
			width: 480px;
		}
		#footer{
            width: 760px;
            height: 66px;
		}